.page-title {font-size: 30px;}

#posts .post-title a {color: black;}
#posts .post-title {font-size: 30px;}
#posts h2 {font-size: 24px;}
#posts h3 {font-size: 20px;}
.post-meta {background: #f4f4f4;}

