<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{site.baseurl}}/"><strong>AbFabDecorating</strong></a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-left">
      <li><a href="{{site.baseurl}}/">Creating beautiful, functional spaces</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/services">Services</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="http://feeds.feedburner.com/AbsolutelyFabulousDecorating" class="subscribe" target="_blank" title="Subscribe to our RSS feed">
        <img src="/images/ico-rss.png" alt="Subscribe to our RSS feed">
      </a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
