---
published: true
layout: page
permalink: blog
title: AbFabDecorating Blog
---

<div class='row'>

  <div class='col-lg-9'>

    <ul id="posts" class='list-unstyled'>
      {% for post in site.categories.blog limit:1000 %}
        <li>
          <h2 class='post-title'><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class='post-meta'>
            By Joan Parsons on {{ post.date | date_to_string }}.
            Tags: |
            {% for tag in post.tags %}
              <a href="{{ site.baseurl }}/tags#{{ tag }}-ref">{{tag}}</a> |
            {% endfor %}
          </p>
          <hr />
          <p>{{post.excerpt}}&nbsp;&nbsp;<a class='read-more-link' href="{{ post.url }}">&raquo; Read more...</a></p>
        </li>
        <br />
      {% endfor %}
    </ul>

  </div>

  <div class='col-lg-3'>

    <div class="page-header">
      <h4>Tags</h4>
    </div>

    <div class='list-group'>
      {% assign tags_list = site.tags %}

      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
          <a href="{{ site.baseurl }}/tags#{{ tag }}-ref" class='list-group-item'>
            {{ tag }} <span class='badge'>{{ site.tags[tag].size }}</span>
          </a>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %}
          <a href="{{ site.baseurl }}/tags#{{ tag[0] }}-ref" class='list-group-item'>
            {{ tag[0] }} <span class='badge'>{{ tag[1].size }}</span>
          </a>
        {% endfor %}
      {% endif %}

      {% assign tags_list = nil %}
    </div>
  </div>

</div>
