---
layout: default
---

{% assign site_tags_list = site.tags %}
{% assign this_posts_tag_list = page.tags %}


<div class='row'>

  <div class='col-lg-9'>

    <div class="page-header">
      <h1 class='page-title'>{{ page.title }}</h1>
      <p class='post-meta'>
        By Joan Parsons on {{ page.date | date_to_string }}.

        {% if this_posts_tag_list == empty or this_posts_tag_list == null %}
          No tags.
        {% else %}
          Tags: |
          {% for tag in this_posts_tag_list %}
            <a href="{{ site.baseurl }}/tags#{{ tag }}-ref">{{tag}}</a> |
          {% endfor %}
        {% endif %}
      </p>
    </div>

    <div class="post">
      {{ content }}
    </div>

    <hr />
    <p>View more <a href="{{site.baseurl}}/blog">blog posts</a>.</p>

  </div>

  <div class='col-lg-3'>

    <div class="page-header">
      <h4>Tags</h4>
    </div>

    <div class='list-group'>

      {% if site_tags_list.first[0] == null %}
        {% for tag in site_tags_list %}
          <a href="{{ site.baseurl }}/tags#{{ tag }}-ref" class='list-group-item'>
            {{ tag | capitalize }} <span class='badge'>{{ site.tags[tag].size }}</span>
          </a>
        {% endfor %}
      {% else %}
        {% for tag in site_tags_list %}
          <a href="{{ site.baseurl }}/tags#{{ tag[0] }}-ref" class='list-group-item'>
            {{ tag[0] | capitalize }} <span class='badge'>{{ tag[1].size }}</span>
          </a>
        {% endfor %}
      {% endif %}

    </div>
  </div>

</div>

{% assign this_posts_tag_list = nil %}
{% assign site_tags_list = nil %}
